<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <title>Demo Portal</title>

</head>
<body>
<!-- Start wrapper-->
<div class="container">
  <% include partials/nav.ejs %>
<h1>Welcome to Index</h1>

</div>
</body>
</html>
